<div class="container mt-5">
 <div class="row">
      <div class="col-md-3 col-sm-3">
    <div class="card-header bg-light">
      <div class="row align-items-center">
        
          <img class="card-img-top" 
          src="assets/pics/Iphone11.jpg" 
         alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">iphone 11 pro</h5>
             <h5 class="card-title">1500$</h5>
            <p class="card-text card-justify"> 
                1.Best products with good features.2)Top
                 quality products avaliable in market.</p> 
                 <button class="btn btn-primary">ADD TO CART</button>
              </div>
         </div>
        </div>
              <!--iphone phone-->
                
             
                        

        
        <!--samsung phone-->
        <div class="col-md-3 col-sm-3">
          <div class="card-header bg-light">
            <div class="row align-items-center">
              
                <img class="card-img-top" 
                src="assets/pics/samsung3.jpg" 
               alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title">Samsung M31</h5>
                   <h5 class="card-title">1400$</h5>
                  <p class="card-text card-justify"> 
                    1.Best products with good features.2)Top
                       quality products avaliable in market.
                    </p> 
                       <button class="btn btn-primary">ADD TO CART</button>
                    </div>
               </div>
        </div>
                    <!--samsung 10 plus-->
                      
                   
                              
      
              <!--oneplus phone-->
              <div class="col-md-3 col-sm-3">
                <div class="card-header bg-light">
                  <div class="row align-items-center">
                    
                      <img class="card-img-top" 
                      src="assets/pics/oneplus.jpg" 
                     alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">oneplus</h5>
                         <h5 class="card-title">1800$</h5>
                        <p class="card-text card-justify"> 
                            1.Best products with good features.2)Top
                             quality products avaliable in market.</p> 
                             <button class="btn btn-primary">ADD TO CART</button>
                          </div>
                     </div>
                      
                    </div>
                    <!--oneplus phone-->

                    <!--realme phone-->
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/realme.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Realme pro</h5>
                               <h5 class="card-title">1300$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                              
                                  
                               
                                          
                  
                          </div>
                          <!--realme phone-->

<!--laptop products-->
<div class="container mt-5">
  <div class="row">
                          <!--laptop hp-->
                          
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/hp.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">HP</h5>
                               <h5 class="card-title">2500$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                                <!--laptop hp -->


                         <!--laptop lenovo-->  
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/lenovo.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">lenovo</h5>
                               <h5 class="card-title">2400$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                    <!--laptop lenovo--> 
                                
                                 <!--laptop dell-->
                          
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/dell.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">DELL</h5>
                               <h5 class="card-title">2300$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                    <!--laptop dell-->

                                <!--laptop apple -->
                          
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/apple.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">APPLE</h5>
                               <h5 class="card-title">2800$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                                <!--laptop apple -->
            </div>
           </div>
                                <!--laptop products-->
             <!--women products-->                    
                       <!--fashion women--> 
                       <div class="container mt-5">
                        <div class="row">  
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/women1.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">WOMEN DRESS</h5>
                               <h5 class="card-title">1000$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                                <!--fashion women -->

                         
                      <!--fashion women girl-->   
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/women2.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">WOMEN FASHION </h5>
                               <h5 class="card-title">900$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                      <!--fashion women girl -->
                                   
                       <!--fashion women3-->   
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/women3.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">WOMEN TSHIRT</h5>
                               <h5 class="card-title">800$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                                <!--fshion women3-->

                                       <!--fashion women4-->   
                    <div class="col-md-3 col-sm-3">
                      <div class="card-header bg-light">
                        <div class="row align-items-center">
                          
                            <img class="card-img-top" 
                            src="assets/pics/women4.jpg" 
                           alt="Card image cap">
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">WOMEN SAREE</h5>
                               <h5 class="card-title">700$</h5>
                              <p class="card-text card-justify"> 
                                  1.Best products with good features.2)Top
                                   quality products avaliable in market.</p> 
                                   <button class="btn btn-primary">ADD TO CART</button>
                                </div>
                           </div>
                    </div>
                                <!--fshion women4-->
                                </div>
                                </div>
                                <!--women products-->
                                  
                                  
                                  
                                  
                                  
                                  
                               
                                          
                  
                          
        
    </div>
</div>
